@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {  
  --font-inter: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --color-primary:   #0B2545;  /* Deep navy */
  --color-accent:    #F49D1A;  /* Bright saffron */
  --color-secondary: #2C3E50;  /* Muted blue */
  --color-background:#F1F5F9;  /* Light gray */

  --animate-float: float 3s ease-in-out infinite;
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50%      { transform: translateY(-10px); }
  }

  --background-image-textured:
    url('/images/maze-white.avif');

  --background-image-hero:
    url('/images/layered_waves_haikei.avif');
}
